<h1>this is the auth ctrl</h1>

<div class="">
    <h1>Register</h1>

  <input type="email" placeholder="email" ng-model="registerEmail">
  <input type="password" placeholder="password" ng-model="registerPassword">

  <button type="button" name="button" ng-click="registerButton(registerEmail, registerPassword)">Register</button>


</div>

<div>
  <h1>Login</h1>

  <input type="email" placeholder="Email" ng-model="loginEmail">
  <input type="password" placeholder="Password" ng-model="loginPassword">

  <button type="button" ng-click="loginButton(loginEmail, loginPassword)">Login</button>

</div>
