<div>

  <div ng-repeat="list in lists">

    <h1>{{list.title}}</h1>

    <div ng-repeat="item in list">
      <div ng-repeat="data in item|limitTo:5">
          <h2><a href="{{data.link}}">
        {{data.title}}
        </a></h2>
        <p>{{data.description}}</p>
      </div>

    </div>

        <!-- <div ng-repeat="item in list|limitTo:5" > -->

<!--

          <h2><a href="{{item.link}}">
        {{item.title}}
        </a></h2>
        <p>{{item.description}}</p> -->


      <!--</div>--> <!--whatever in list -->




  </div> <!-- list in lists -->



</div> <!--first div -->
