<h1>Main Partial</h1>

<div>
  <!-- <h1><a href="{{mlblink}}">{{mlbtitle}}</a></h1>
  <p>{{mlbdescription}}</p> -->



  <div ng-repeat="list in lists">
    <div ng-repeat="whatever in list|limitTo:6" ng-if="!$first">
      <!-- {{whatever}} -->
      <h1><a href="{{whatever.getElementsByTagName('link')[0].innerHTML}}">    {{whatever.getElementsByTagName('title')[0].innerHTML}}
  </a></h1>
    <p>{{whatever.getElementsByTagName('description')[0].innerHTML}}</p>
    </div>





  </div>



</div>
