<div class="container">

  <div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab ssp col s3"><a href="#mlb">MLB.com News</a></li>
      <li class="tab ssp col s3"><a href="#mlbtr">MLBTradeRumors</a></li>
      <li class="tab ssp col s3"><a href="#reddit">Reddit</a></li>
    </ul>
  </div>

  <!--MLB.com News -->
  <div id="mlb" class="col s12">


    <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="list in lists">
      <div class="collapsible-header hoverable ssp">{{list.title}}</div>

      <div class="collapsible-body hoverable">
        <div ng-repeat="item in list">
          <div ng-repeat="data in item|limitTo:10 track by $index">
            <h5 class="ssp"><a class="links" href="{{data.link}}">
              {{data.title}}
            </a></h5>
            <p class="ssp">{{data.creator.__text}}</p>
            <span class="ssp">{{data.description}}</span>
          </div> <!-- data in item -->
        </div> <!-- item in list -->
      </div> <!--collapsible body -->
      </li> <!--list in lists -->
    </ul> <!--accordian -->
  </div> <!--#mlb -->


  <div id="mlbtr" class="col s12">

    <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="data in mlbtrData">
      <div class="collapsible-header hoverable ssp">{{data.title}}</div>

      <div class="collapsible-body hoverable">
        <div ng-repeat="items in data">
          <div ng-repeat="news in items|limitTo:10 track by $index">
            <h5 class="ssp"><a class="links" href="{{news.link}}">
              {{news.title}}
            </a></h5>
            <p class="ssp">{{news.creator.toString.__cdata}}</p>
            <span class="ssp">{{news.description}}</span>
          </div> <!-- data in item -->
        </div> <!-- item in list -->
      </div> <!--collapsible body -->
      </li> <!--list in lists -->
    </ul> <!--accordian -->
  </div> <!--#mlbtr -->



  </div>

  <div id="reddit" class="col s12">

    <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="data in redditData">
      <div class="collapsible-header hoverable ssp">{{data.data.data.children[0].data.subreddit_name_prefixed}}</div>

      <div class="collapsible-body hoverable" ng-repeat="stuff in data.data.data.children">

            <h5 class="ssp"><a class="links" href="{{stuff.data.url}}">
              {{stuff.data.title}}
            </a></h5>
            <p class="ssp">{{stuff.data.author}}</p>
            <span class="ssp">{{stuff.data.selftext}}</span>
            <p><a class="links" href="http://reddit.com{{stuff.data.permalink}}">Link to Reddit</a></p>
      </div> <!--collapsible body -->
    </li> <!--data in redditData -->
    </ul> <!--accordian -->

  </div> <!-- #reddit -->

  <input class="waves-effect btn-flat" type="button" name="" value="Back to teams" ng-click="backtoTeams()">
</div>



  <!-- <ul class="collapsible" data-collapsible="accordion">
  <li ng-repeat="list in lists">
    <div class="collapsible-header hoverable">{{list.title}}</div>

    <div class="collapsible-body hoverable">
      <div ng-repeat="item in list">
        <div ng-repeat="data in item|limitTo:10">
          <h5><a href="{{data.link}}">
        {{data.title}}
      </a></h5>
          <p>{{data.creator.__text}}</p>
          <span>{{data.description}}</span>
        </div>

      </div>

   </div>

  </li>
</ul> -->



</div> <!--first div -->
