<div class="container">

  <h5 class="center-align">Don't forget to save after selecting your favorite teams</h5>
  <div class="row">

  <div class="leagues col s5 offset-s1" ng-repeat="(key, teams) in leagues">


    <h4 class="coolfont">{{key}}</h4>
    <div ng-repeat="(team, urls) in teams">

        <input class="{{team}} filled-in" id="filled-in-box" type="checkbox" ng-click="checkboxModel(key, team, urls)" ng-checked="checkCheckBox(urls)">
        <label class="teamname teamList" for="{{team}}" ng-click="checkboxModel(key, team, urls)">
        <img class="logo" src="{{urls.logo}}" alt="">  {{team}}
        </label>



    </div> <!--team,urls in teams-->

    </div>


  </div> <!--row-->

  <div class="teamNewsButton">

    <input class="waves-effect btn-flat" type="button" value="Get Team News" ng-click="loopTeams()">

    <input class="waves-effect btn-flat saveBtn" type="button" value="Save Favorites" ng-class="{blink: {{$scope.arrayOfTeams.length > $scope.savedTeams.length}}}" ng-click="favoriteSave()">

  </div>

</div> <!--container -->
