<h1>Team Ctrl</h1>

<!-- <form name="myForm">
  <label>Atlanta:
    <input type="checkbox" ng-model="checkboxModel.atlanta">
  </label><br/>
  <label>Miami:
    <input type="checkbox" ng-model="checkboxModel.miami">
   </label><br/>
   <label>New York NL:
     <input type="checkbox" ng-model="checkboxModel.newyorknl">
    </label><br/>
    <label>Philadelphia:
      <input type="checkbox" ng-model="checkboxModel.philadelphia">
     </label><br/>
     <label>Washington:
       <input type="checkbox" ng-model="checkboxModel.washington">
      </label><br/>
  <tt>Atlanta = {{checkboxModel.atlanta}}</tt><br/>
  <tt>Miami = {{checkboxModel.miami}}</tt><br/>
  <input type="button" value="Get Team News">
 </form> -->

<!-- <div ng-repeat="league in leagues">
  <div>
    {{league}}
  </div>
</div> -->




  <div ng-repeat="(key, teams) in leagues">
    <h1>{{key}}</h1>
      <label ng-repeat="(team, urls) in teams">
       <input type="checkbox" ng-click="checkboxModel(key, team, urls)" ng-checked="checkCheckBox(urls)"> {{team}}
      </label>



    <!-- <label ng-repeat="teams in leagues">
    <input type="checkbox" ng-click="checkboxModel(teams)"> {{teams}}
    </label> -->

  </div>


<input type="button" value="Get Team News" ng-click="loopTeams()">

<input type="button" value="Save Favorites" ng-click="favoriteSave()">
