<div class="container">

  <h5 class="center-align">Don't forget to save after selecting your favorite teams</h5>
  <div class="row">

  <div class="leagues  col s5 offset-s1" ng-repeat="(key, teams) in leagues">


    <h4>{{key}}</h4>
    <div ng-repeat="(team, urls) in teams">

        <input class="{{team}}" type="checkbox" ng-click="checkboxModel(key, team, urls)" ng-checked="checkCheckBox(urls)">
        <label class="teamname" for="{{team}}" ng-click="checkboxModel(key, team, urls)">
          {{team}}
        </label>



    </div> <!--team,urls in teams-->

    </div>


  </div> <!--row-->

  <div class="teamNewsButton">

    <input class="waves-effect waves-teal btn-flat " type="button" value="Get Team News" ng-click="loopTeams()">

    <input class="waves-effect waves-teal btn-flat" type="button" value="Save Favorites" ng-click="favoriteSave()">

  </div>

</div> <!--container -->
