
<div class="container">
  <h1>Welcome to the Clubhouse</h1>

  <p>The Clubhouse is a great way to stay up to date with the most recent info on your favorite baseball teams. It gets the latest news for your team from <a href="http://www.mlb.com">MLB.com</a>, <a href="http://www.mlbtraderumors.com">MLBTradeRumors</a>, and your favorite team's subreddit!</p>


  <input type="button" class="waves-effect waves-teal btn-flat" value="Select Your Favorite Teams" ng-click="gotoTeams()">
  <!-- <input class="waves-effect waves-teal btn-flat" type="button" value="Get Team News" ng-click="loopTeams()"> -->


</div>
