
<div class="container">
  <h1 class="coolfont">Welcome to the Clubhouse9</h1>

  <p class="welcome">The Clubhouse is a great way to stay up to date with the most recent info on your favorite baseball teams. It gets the latest news from <a href="http://www.mlb.com">MLB.com</a>, <a href="http://www.mlbtraderumors.com">MLBTradeRumors</a>, and your favorite team's subreddit!</p>


  <input type="button" class="waves-effect waves-teal btn-flat" value="Select Your Favorite Teams" ng-click="gotoTeams()">
  <input class="waves-effect waves-teal btn-flat" type="button" value="Get Team News" ng-click="loopTeams()">


</div>
