@import 'colors';
@import 'teams';
@import 'news';


body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
};

.welcome {
  font-family: 'Source Sans Pro', sans-serif;
}

.teamNewsButton {
  margin-left: 24%;
};

#test {
  opacity: 0;
}

.tabs .tab a{
    color:#751e1a;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color: #bc3138;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);
}
.tabs .indicator {
	background-color: #bc3138;
}

[type="checkbox"].filled-in:checked+label:after {
      background-color: #bc3138;
      border: 2px solid #bc3138;
}

.btn:hover {
  background-color: #751e1a;
}

input[type="button"]:hover {
  background-color: #bc3138;
  color: white;
  text-shadow: 2px 2px black;
}
