@import 'colors';
@import 'teams';
@import 'news';


body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
};

.welcome {
  font-family: 'Source Sans Pro', sans-serif;
  margin-right: 35%;
  margin-left: 3.5%
}

.teamNewsButton {
  margin-left: 24%;
};

#test {
  opacity: 0;
}



.btn:hover {
  background-color: $primaryredcolor;
}

input[type="button"]:hover {
  background-color: $secondaryredcolor;
  color: white;
  text-shadow: 2px 2px black;
}


@font-face {
  font-family: AveFedan;
  src: url('AveFedan_PERSONAL_USE.ttf');
}

.coolfont {
  font-family: AveFedan;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
